@using Microsoft.Extensions.Configuration
@using CDR.DataHolder.IdentityServer.Extensions
@inject IConfiguration _config

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

	<title>IdentityServer4</title>

	<link rel="icon" type="image/x-icon" href="@_config.EnsurePath("/favicon.ico")" />
	<link rel="shortcut icon" type="image/x-icon" href="@_config.EnsurePath("/favicon.ico")" />

	<link rel="stylesheet" href="@_config.EnsurePath("/lib/bootstrap/dist/css/bootstrap.min.css")" />
	<link rel="stylesheet" href="@_config.EnsurePath("/css/site.css")" />
	<script src="@_config.EnsurePath("/lib/jquery/dist/jquery.min.js")"></script>
</head>
<body>
	<div class="container">
		<div class="justify-content-center row">
			<div class="col-10 col-md-4 pl-0 pr-0">
				<div class="pt-5 text-center">
					<img src="@_config.EnsurePath("/logo.png")" class="rounded-circle pb-2" alt="logo"/>
				</div>
				@RenderBody()
			</div>
		</div>
	</div>

	<script src="@_config.EnsurePath("/lib/jquery/dist/jquery.slim.min.js")"></script>
	<script src="@_config.EnsurePath("/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>

	@RenderSection("scripts", required: false)
</body>
</html>
