@model ConsentViewModel

@{
	bool hasSelectedAcconts = Model.SelectedAccountIds != null && Model.SelectedAccountIds.Any();
	DateTime consentExpiryDate = DateTime.Now.Add(Model.ConsentLifeTimeSpan);
	int consentExpiryInMonths = (consentExpiryDate.Month - DateTime.Now.Month) + 12 * (consentExpiryDate.Year - DateTime.Now.Year);
}

<form asp-route="Index" class="pb-3">
	<input type="hidden" asp-for="ReturnUrl" />
	@if (Model.SelectedAccountIds != null && Model.SelectedAccountIds.Any())
	{
		@for (int i = 0; i < Model.SelectedAccountIds.Count(); i++)
		{
			<input name="SelectedAccountIds[@i]" type="hidden" value="@Model.SelectedAccountIds[i]" />
		}
	}
<div id="page1" class="@(hasSelectedAcconts ? "d-none" : "")">
	<div class="pb-4 text-center">
		<h6 class="pb-3">Select account to share</h6>
	</div>
	<partial name="_ValidationSummary" />
	<div class="page-content">
		<p>@Model.ClientName is requesting data from your accounts.</p>
		<p>Please select the accounts you would like to share data from.</p>
	</div>
	<div class="page-list pb-4">
		<p><b>Accounts available to share</b></p>
		<ul class="list-group">
			@foreach (var account in Model.Accounts)
			{
				<partial name="_AccountListItem" model="@account" />
			}
		</ul>
	</div>
	@if (Model.InvalidAccounts != null && Model.InvalidAccounts.Any())
	{
		<div class="page-list pb-4">
			<p><b>Accounts unavailable for sharing</b></p>
			<ul class="list-group">
				@foreach (var account in Model.InvalidAccounts)
				{
					<partial name="_AccountListItem" model="@account" />
				}
			</ul>
		</div>
	}
	<div class="page-buttons flex justify-content-center pb-3">
		<div class="row">
			<div class="col p-0 pr-1">
				<button class="btn btn-outline-primary btn-block" name="button" value="@ConsentViewModel.ActionTypes.Cancel">Cancel</button>
			</div>
			<div class="col p-0 pl-1">
				<button type="submit" class="btn btn-primary btn-block" name="button" value="@ConsentViewModel.ActionTypes.Page2">Continue</button>
			</div>
		</div>
	</div>
</div>
	<div id="page2" class="@(!hasSelectedAcconts? "d-none" : "")">
		<div class="pb-4 text-center">
			<h6 class="pb-3">Confirm</h6>
		</div>
		<div class="page-content">
			<p class="text-secondary">Please confirm that you agree to share the following data with <b>@Model.ClientName.</b></p>
		</div>
		<div class="page-list pb-4">
			<p><b>Selected account(s)</b></p>
			<ul class="list-group">
				@foreach (var account in Model.Accounts.Where(a => a.IsSelected).ToList())
				{
					<partial name="_AccountListItem" model="@account" />
				}
			</ul>
		</div>
		<div className="page-content text-secondary">
			<p><b>Data requested</b></p>
			<div class="alert alert-secondary">
				<h6>Transaction details</h6>
				<ul>
					<li>Incoming and outgoing transactions</li>
					<li>Amounts</li>
					<li>Dates</li>
					<li>Description of transactions</li>
					<li>Who you've sent money to and received money from (e.g. their name)</li>
				</ul>
				<h6>Historical data required</h6>
				<p>This will include data that may date back to 1st January.</p>
				<h6>Direct debits and scheduled payments</h6>
				<ul>
					<li>Direct debits</li>
					<li>Scheduled payments</li>
				</ul>
			</div>
			<h6>Sharing period</h6>
			<p>@string.Format("{0:d MMMM yyyy} - {1:d MMMM yyyy}", DateTime.Now, consentExpiryDate)</p>
			<h6>How long your data will be shared</h6>
			<p>Your data will be shared on an on-going basis for the next @consentExpiryInMonths months.</p>
			<hr />
			<h6>Where to manage this arrangement</h6>
			<p>You can review and manage this arrangement on the Data Sharing dashboard by going to Settings &gt; Data Sharing on the @Model.ClientName website or app.</p>
			<h6>If you want to stop sharing this data</h6>
			<p>You can request us to stop sharing your data on your Data Sharing dashboard or by sending us an email</p>
		</div>

		<div class="page-buttons flex justify-content-center pb-3">
			<div class="row">
				<div class="col p-0 pr-1">
					<button class="btn btn-outline-primary btn-block" name="button" value="@ConsentViewModel.ActionTypes.Page1">Cancel</button>
				</div>
				<div class="col p-0 pl-1">
					<button type="submit" class="btn btn-primary btn-block" name="button" value="@ConsentViewModel.ActionTypes.Consent">I Confirm</button>
				</div>
			</div>
		</div>
	</div>
</form>